Repository cse110-sp24-group16/warmup-exercise, pull requests merged in 2024-04, with the labels that each got.

#6 added index.html
  source/.gitkeep
  source/index.html
Labels: HTML

#7 data folder for json files for testing
  source/data/schedule-test.json
Labels: testing

#8 4 create a sketch of design and functionality
  Design/Task List Mockup.fig
  Design/Vertical-annotated.jpg
  Design/design_mockups.md
  Design/mockup_horizontal.png
  Design/mockup_horizontal_notes.png
  Design/mockup_vertical.png
Labels: documentation

#11 2 create html template
  index.html
  team_16.png
Labels: HTML

#12 changed folder structure
  design/Task List Mockup.fig
  design/Vertical-annotated.jpg
  design/design_mockups.md
  design/mockup_horizontal.png
  design/mockup_horizontal_notes.png
  design/mockup_vertical.png
  index.html
  source/index.html
  source/materials/team_16.png
Labels: documentation, HTML

#10 Revision of vertical format
  design/Vertical-Revise.png
  design/Vertical-Revised.png
  design/design_mockups.md
Labels: documentation

#13 Merge html in JS
  README.md
  design/Task List Mockup.fig
  design/Vertical-Revise.png
  design/Vertical-Revised.png
  design/Vertical-annotated.jpg
  design/design_mockups.md
  design/mockup_horizontal.png
  design/mockup_horizontal_notes.png
  design/mockup_vertical.png
  source/index.html
  source/materials/team_16.png
Labels: documentation, HTML

#15 Merge Javascript to main
  Design/data.JSON
  Design/index.html
  Design/site.js
  source/index.html
Labels: JS, HTML

#16 updated structure
  Design/site.js
  source/data/data.JSON
  source/index.html
  source/site.js
Labels: JS, HTML

#18 Styling cards
  source/index.html
  source/styles.css
Labels: HTML, CSS

#19 styled logo and title
  source/index.html
  source/styles.css
Labels: HTML, CSS

#26 Sorted the tasks and removed placeholders for categories
  source/index.html
  source/site.js
Labels: JS, HTML

#27 Display the correct remaining task count
  source/site.js
Labels: JS

#28 color theme changes
  source/styles.css
Labels: CSS

#29 horizontal layout
  source/index.html
  source/styles.css
Labels: HTML, CSS, design
